.idea
config/data/
modules/__pycache__
modules/test/__pycache__
server/.idea
server/venv
server/FaceSmartCity/__pycache__
server/users/__pycache__
server/webface/__pycache__
modules/Detector_Face/__pycache__
modules/Detector_Face/utils/__pycache__
modules/detector_id/__pycache__
config/config.ini
config/cache
server/db.sqlite3