{% extends "webface/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Username: {{ user }}</a>
            </div>
            <table class="table">
                <div>
                    <tr>
                        <th scope="col">Events</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for ev in events %}
                        {% if ev.user == user %}
                            <tr>
                                <td>{{ ev.name }}</td>
                                <td>
                                    <small class="text-muted">Event Id: {{ ev.pk }}</small>
                                </td>
                                <td>
                                    <a class="btn btn-outline-info mb-2" href="{% url 'overview-event' ev_id=ev.id %}">Overview</a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-info mb-2" href="{% url 'choose-event' ev_id=ev.id %}">Detail</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </div>
            </table>
        </div>
    </article>
    {% if is_review == 0 %}
        {% if visitors|length > 0 %}
            <article class="media content-section">
                <div class="media-body">
                    <table id="data_table" class="table" onload="refFunc1 = setInterval(refresher, 500)">
                        <div>
                            <tr>
                                <th scope="col">Visitors Id</th>
                                <th>Time</th>
                                <th>Information</th>
                            </tr>
                            {% for v, f in visitors %}
                                {% if v.user == user %}
                                    <tr>
                                        <td>{{ v.pk }}</td>
                                        <td>
                                            <small class="text-muted">{{ v.date|date:"D d M Y" }} {{ v.date|time:"H:i:s" }}</small>
                                        </td>
                                        <td>
                                            {% if f != None %}
                                                <p class="text-success">{{ f.name }}</p>
                                            {% else %}
                                                <p class="text-danger">Unknown</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </table>
                    <script>
                    function refresher() {
                        let table = document.getElementById("data_table");
                        table.refresh ();
                        alert("refreshed")
                    }
                    </script>
                </div>
            </article>
        {% else %}
            <article class="media content-section">
                <div class="media-body">
                    <a class="mr-2">There are no visitors yet!</a>
                </div>
            </article>
        {% endif %}
    {% else %}
        {% if visitors_num != None %}
            <article class="media content-section">
                <div class="media-body">
                    <table id="data_table" class="table" onload="refFunc2 = setInterval(refresher, 500)">
                        <div>
                            <tr>
                                <th scope="col">Review</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Visitors Number: </td>
                                <td>{{ visitors_num }}</td>
                            </tr>
                            <tr>
                                <td>Known Visitors Number:</td>
                                <td>{{ known_num }}</td>
                            </tr>
                        </div>
                    </table>
                    <script>
                    function refresher() {
                        let table = document.getElementById("data_table");
                        table.refresh ();
                        alert("refreshed")
                    }
                    </script>
                </div>
            </article>
        {% endif %}
    {% endif %}
{% endblock content %}